*, *::before, *::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(-50deg,#00ff73,#4d01ff,rgb(248, 41, 255));
    color: white;
}

.GameSection{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 60px;
    width: 400px;
    height: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(10, 10, 10, 0.7) 0px 0px 30px;
}

.ScoreScreen{
    font-size: 40px;

}

.ScoreText{
    padding: 0;
    margin: 0;
}

.winnerText{
    font-size: 45px;
    margin: 0;
}

.HandImages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img{
    width: 160px;
    height: auto;
    padding: 10px 0 10px 0;
}

button{
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 25px;
    padding: 10px;
    margin: 3px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    
}

button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width:411px){
    .GameSection{
        width: 330px;
    }
}